{% include 'header.html' %}
    <h1>about us</h1>
    <img src="/static/img/IMG_E1300.JPG"alt=""/>
    <p class="pp">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo error aliquam nobis saepe culpa assumenda itaque. Ratione, consequatur harum. Sit expedita assumenda doloribus quae iste aliquam rem ipsum tempore asperiores.
        Expedita rem ad animi tempora ab consequuntur minus, quibusdam quaerat sequi optio dolorum, dolore asperiores amet quo totam? Quam hic deleniti corporis nostrum accusantium distinctio consequatur dolores animi porro quibusdam.
        Explicabo voluptatum doloremque, eligendi, officiis quidem animi quia dolorum atque impedit magnam a recusandae id soluta. Necessitatibus eos voluptates quos, dolorum cumque quae aspernatur vitae, neque adipisci odit dolore et.
    </p>
{% include 'footer.html' %}